*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;   
    overflow-x: hidden;
}
/* Inicio de los estilos de la barra de navegación*/
.all-nav{
    display: flex;
}
.barra-navegador{
    background-color: black;
    display: flex;
    width: 100vw;
    max-width: 100%;
}
/* Inicio de los estilos del menu desplegable*/
.navbar-toggler{
    background-color: black;
}
#offcanvasDarkNavbar{
    background-color: black;
}
.link-other{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
}
.link-browse{
    margin-bottom: 2rem;
    margin-left: 1.2rem;
    font-family: 'Frank Ruhl Libre', serif !important;
    color: white !important;
    font-size: 1.5rem !important;
}
.link-basket{
    margin-left: 1.2rem;
}
.link-other{
    font-family: 'Frank Ruhl Libre', serif !important;
    color: white !important;
    font-size: 1.2rem !important;
}
.web{
    margin-bottom: 18rem;
}
.logo-phone{
    margin-top: 1.2rem;
}
.bi.bi-telephone{
    margin-left: 1.2rem;
    color: white;
}
/* Estilos del logo de la barra de navegación*/
.logo-c{
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 2rem;
}
.header-logo{
    display: block;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Inicio de los estilos del icono del carrito*/
.bi.bi-cart2{
    position: absolute;
    right: 2%;
    font-size: 1.3rem;
    top: 35%;
}
/* Inicio de los estilos del div principal con imagen de fondo y el texto "All menus"*/
.cards-voucher{
    margin-top: 3.6rem;
}
.principal-voucher{
    width: 100%;
    height: 36.3rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.gift-voucher{
   display: flex;
   align-items: center;
   margin-top: 7rem;
}
.gift-title{
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 3.5rem;
}
/* Inicio de los estilos del grid de las cards con las imagenes de los menus*/
.carrusel-img{
    width: 65%;
    text-align: left;
    position: relative;
    left: 20%;
    margin-top: 2rem !important;
}
.col{
    border-radius: 0px !important;
    margin-top: 2rem !important;
}
.card{
    border-radius: 0px !important;
}
.card:hover{
    transform: translate(0,-5px);
    transition-duration: 0.5s;
    cursor: pointer;
}
.img-thumbnail{
    height: 370px !important;
    width: 527px !important;
}
.card-body{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    font-family: 'Frank Ruhl Libre', serif ;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    
}
.card-text{
    margin-top: 1rem;
    color: rgb(75, 75, 75);
    font-size: 0.95rem;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}
.price-menu{
    text-align: center;
    margin-top: 0.2rem;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 600;
}
.bread{
    font-family: 'Frank Ruhl Libre', serif;
    display: flex;
    justify-content: center;
    margin-top: 2rem !important;
}
.veg-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.veganuary-menu{
    width: 10rem;
    height: 10rem;
}
/* Inicio de los estilos del div de la parte inferior tras los cards vouchers con los 4 iconos del veganuary*/
.need-help{
    display: flex;
    flex-direction: column;
    top: 20%;
    border: solid 1px rgb(211, 211, 211);
    height: 250px !important;
    background-color: white;
}
.need-some{
    display: flex;
    justify-content: center;
    
}
.need{
    font-family: 'Frank Ruhl Libre', serif ;
    font-weight: 700;
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
/* Estilos de los iconos del veganuary*/
.limon{
    margin-top: 1.5rem;
}
.carrot{
    margin-top: 2.2rem;
}
/* Texto previo a la imagen del veganuary*/
.text-vegan{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    left: 20%;
    width: 80%;
    margin-top: 2rem;
}
.title-vegan{
    font-size: 1.6rem;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 600;
    margin-bottom: 2rem;
}
.par-vegan{
    width: 100%;
    max-width: 60%;
    height: 100px;
    white-space: wrap;
    overflow: hidden;
    font-family: 'Cutive Mono', monospace;
    font-weight: 500;
    
}
/* Estilos del link superior a la imagen del veganuary en color azul verdoso*/
.title-link{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.link-veganuary{
    text-decoration: none;
    color: rgb(1, 176, 156);
    font-weight: 600;
}
.vegetary-menu-2{
    display: none;
}
.bi.bi-hand-index{
    margin-right: 1rem;
}
/* Inicio de los estilos de la seccion contact us privacy..etc*/
.all-footer{
    margin-top: 7rem;
}
.links-foot{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.link-foot{
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.1rem;
    color: black;
}
.link-foot:hover{
    color: rgb(141, 141, 141);
}
/* Inicio del formulario de registro con el boton suscribe*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-suscribe{
    margin-top: 4rem;
}
.form-suscribe{
    width: 30rem !important;
    font-family: 'Frank Ruhl Libre', serif !important;
    text-align: center;
}
.btn-suscribe{
    background-color: black !important;
    border-radius: 1px !important;
    width: 30rem !important;
    height: 2.6rem !important;
    font-family: 'Frank Ruhl Libre', serif !important;
}
/* Estilos del texto final anterior a los logos de redes sociales */
.get-off{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    font-family: 'Frank Ruhl Libre', serif;
}
/* Estilos de los logos de redes sociales */
.share{
    gap: 1.5rem;
    display: flex;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
/* Inicio de las media query*/
@media(max-width: 576px){
    .links-foot{
        flex-direction: column;
        align-items: center;
    }
    .card-title{
        font-size: 0.87rem;
    }
    .card-text{
        font-size: 1.1rem;
        
    }
    .gift-title{
        font-size: 2.7rem;
    }
    .form-suscribe{
        width: 18rem !important;
    }
    .btn-suscribe{
        width: 18rem !important;
    }
    .get-off{
        width: 18rem;
    }
    .card-title{
        font-size: 1.3rem !important;
    }
    .vegetary-menu{
        display: none;
    }
    .vegetary-menu-2{
        display: flex;
    }
}
@media(max-width:772px){
    .link-foot{
        font-size: 0.86rem;
    }
    .principal-voucher{
        background-image: url(../images/menu1-def.jpeg) !important;
    }
    .gift-title{
        margin-bottom: 7rem;
    }
}
@media(max-width:992px){
    .img-thumbnail{
        width: 615px !important;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-body{
        position: relative;
        top: -5%;
    }
    .card-text{
        margin-top: 1rem !important;
    }
    .price-menu{
        position: relative;
        top: -7%;
        font-size: 1.3rem;
    }
}
@media(max-width:1200px){
    .card-body{
        margin-top: 3rem !important;
    }
    .price-menu{
        margin-top: 1rem !important;
    }
    .img-veg{
        width: 90px !important;
    }
    .need{
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
    }
    .icons-vegan{
        height: 48rem !important;
    }
    .carrot{
        margin-bottom: 2.5rem;
        margin-top: 0rem;
    }
}

@media(max-width:1400px){
    .card-body{
        margin-top: 4rem;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .card-text{
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .price-menu{
        margin-top: 2rem;
    }
    .img-veg{
        width: 170px !important;
    }
}
@media(max-width:1700px){
    .bread{
        display: none;
    }
    .img-veg{
        width: 200px;
    }
    .need{
        gap: 1.5rem;
    }
}
